<!-- jQuery Camera Slider -->
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
    jQuery('#slidernivo').nivoSlider({
        directionNav : true,
        controlNav :  false,
        effect: 'random',
        slices: 15,
        boxCols: 8,
        boxRows: 4,
        animSpeed: 500,
        pauseTime: 6000,
    });
</script>
<!-- SLIDER -->
<div id="outerslider">
    <div class="container">
        <div id="slidercontainer">
            <section id="slider">
                <div id="slidernivo" class="nivoSlider">
                    <img src="images/contents/slide1.jpg"  alt="slide3" title="#22" />
                    <img src="images/contents/slide2.jpg"  alt="slide2" title="#16" />
                    <img src="images/contents/slide3.jpg"  alt="slide1" title="#14" />
                </div>
                <div id="22" class="nivo-html-caption">
                    <div class="slider-title">Comprometidos con la calidad</div>
                    <p class="slider-desc">Más de 500 clientes satisfechos.</p>
                </div>
                <div id="16" class="nivo-html-caption">
                    <div class="slider-title">Amplia gama de productos</div>
                    <p class="slider-desc">Más de 25 productos a su disposición.</p>
                </div>
                <div id="14" class="nivo-html-caption">
                    <div class="slider-title">Solvencia técnica</div>
                    <p class="slider-desc">Más de 20 años de experiencia nos avalan.</p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END SLIDER -->

<!-- MAIN CONTENT -->
<div id="outermain">
    <div id="maincontainer">
        <div class="container">

            <div class="row">
                <section id="maincontent" class="twelve columns">
                    <section class="content">
                        <div class="ts-features ">
                            <div class="row">
                                <div class="one_half columns fitem feature1 alpha">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon2.png" class="alignleft" alt="" />

                                            </div>
                                            <h3 class="feature-title"><a href="#" title="">Mantenimiento</a></h3>
                                        </div>
                                        <div class="feature-text">Actividades de mantenimiento de instalaciones a demanda de las necesidades especificas de las mismas. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="one_half columns fitem feature2 omega">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon1.png" class="alignleft" alt="" /></div>
                                            <h3 class="feature-title"><a href="#" title="">Legionella</a></h3>
                                        </div>
                                        <div class="feature-text">Empresa acreditada por el Servicio Canario de Salud con el número 0482-CAC-LEG. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="one_half columns fitem feature3 alpha">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon3.png" class="alignleft" alt="" /></div>
                                            <h3 class="feature-title"><a href="#" title="Permanent Link to Simple &amp; Powerful Theme">Descalsificadoras</a></h3>
                                        </div>
                                        <div class="feature-text">Eliminación a través de intercambios iónicos la dureza del agua debida al exceso de calcio y magnesio, que son los causantes de provocar incrustaciones en las instalaciones. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="one_half columns fitem feature4 omega">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon5.png" class="alignleft" alt="" /></div>
                                            <h3 class="feature-title"><a href="#" title="Permanent Link to Awesome Custom Slider">Osmosis</a></h3>
                                        </div>
                                        <div class="feature-text">La ósmosis del agua es un fenómeno biológico importante para el metabolismo celular de los seres vivos. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="one_half columns fitem feature3 alpha">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon6.png" class="alignleft" alt="" /></div>
                                            <h3 class="feature-title"><a href="#" title="Permanent Link to Simple &amp; Powerful Theme">Desaladoras</a></h3>
                                        </div>
                                        <div class="feature-text">Proceso para la eliminación de la sal del agua de mar. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="one_half columns fitem feature4 omega">
                                    <div class="item-container">
                                        <div class="feature-title-container">
                                            <div class="img-container"><img  src="images/contents/icon4.png" class="alignleft" alt="" /></div>
                                            <h3 class="feature-title"><a href="#" title="Permanent Link to Awesome Custom Slider">Aguas</a></h3>
                                        </div>
                                        <div class="feature-text">Departamento especifico para el tratamiento de todo tipo de aguas. </div>
                                        <div class="feature-link"><a href="#" class="more-link">Más info</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div><!-- clear float -->
                    </section>
                </section><!-- END #maincontent -->
                <div class="clear"></div><!-- clear float -->
            </div>

        </div>
    </div>
    <div class="clear"></div><!-- clear float -->
</div><!-- END #outermain -->
<!-- END MAIN CONTENT -->